:root{
  --section-height: 32rem;
  --section-width: 52rem;
}

.App {
  text-align: center;
  font-size: 1rem;
  
}

.App *{
  text-transform: uppercase;
  transition-duration: .5s;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* constants*/
.row{
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.column{
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/*Header*/

#header{
  text-align: center;
  align-items: center;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2.5rem;
  background-color: none;
  padding: 0rem;
  position:fixed;
  background-color: none;
  width: 100%;
  z-index: 100;
}

.dot{
  height: .35rem;
  width: .35rem;
  background-color: black; 
  border-radius: 1rem;

}

#nav_button{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  grid-column: 1;
  position: relative;
  left: 1rem;
   cursor:url("./media/imgs/boxing_glove.png"),pointer;
   height: fit-content;
    background-color: none;
  width: fit-content;
}
 

#header_title{
  cursor: url("./media/imgs/boxing_glove.png"),pointer;
  font-size: 1.5rem;
  transition-duration: .5s;
}

#auth_in{
  outline: none;
  border: none;
  font-size: .5rem;
  background-color: black;
  border-radius: 1rem;
  width: fit-content;
  padding: .5rem 1rem;
  position: relative;
  right: -16rem; /* -30em; */
  cursor:  url("./media/imgs/boxing_glove.png"),pointer;
}



/* aside nav */

#opaque_overlay{
  background-color: rgba(0,0,0,.15);
  position: fixed; 
  height: 100vh;
  width: 100vw;
  z-index: 100; 
  top: 0rem;
 
}
#aside_nav{
  background-color: rgb(255, 255, 255);
  width: 10rem;
  height: 100vh;
  border-right: solid rgba(0,0,0, .65); 
  position: absolute;
  top: 0vh;
  

}

#aside_nav ul{
  list-style-type: none;
  width: 100%;
  position: relative;
  left: -1.75rem;
  padding-block: 2rem;
 justify-content: center;
 align-items: center;
  text-align:right;
  width: 100%;
  
}

#aside_nav ul li{

  margin-block: .5rem;
  
  
}
#aside_nav ul li a{
  text-decoration: none;
  color: black;
  text-decoration: underline solid rgba(0,0,0, .45);
  font-size: .7rem;
  width: 100%;
  cursor: url("./media/imgs/boxing_glove.png"),pointer;
  

}

#aside_nav ul li a:hover{
  text-decoration-color: rgba(0,0,0, 1)
}

#svg_close_icon{
  transform: rotateZ(180deg)
}


/*pg1*/
#pg1{
 
  height: var(--section-height);
}
#header_img{
  height: 15rem;
 position: relative;
 right: 0rem;
 top: 2.5rem;
 grid-column: 2;
 grid-row: 1;
}

#motive_words{ 
  position: relative;
  top: 9rem;
  text-decoration: underline rgba(0,0,0, .65) solid; 
  gap: 10rem;
}

#motive_words *{
  cursor: url("./media/imgs/boxing_glove.png"),pointer;
  font-size: 1.5rem;
  transition-duration: .5s;
}
#motive_words a{
  text-decoration: none;
  color: black;
 
}

#motive_words *:hover{
  transform: translateY(-1rem);
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

#motive_sentence{
  font-size: 1.75rem;
  position: relative;
  top: 5.75rem;
  grid-column: 1;
  grid-row: 1; 
}

#motive_sentence_and_header_img{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-columns: auto;
top: 1.5rem;
position: relative;
}

/* pg + * */
.pg{
    height: var(--section-height);

  color: white;

}

.pg_text_title{
  text-decoration: underline solid rgba(255, 255, 255, 0.65);
  cursor: url("./media/imgs/boxing_glove.png"),pointer;
}

.pg_text{
  font-size: .75rem;
  width: 34rem;
  position: relative;
  right: -5rem;
  top: 2.5rem;
  line-height:1.5rem;
  text-align:left;
}
/* pg2 */
#pg2{
  background-color: black;
}

.pg_img_text_column{
    position: relative;
  top: 4.5rem;
  left:-1rem;
}

#learn_img_text_column{}

#learn_title{}

#learn_text{
color: white;
}

#learn_row{}

/* pg3*/
#pg3{
  background-color: black;
}

#apply_row{
  flex-direction: row-reverse;
}
#pg3_img_text_column{
  left: 5rem; /*reversed row mdofies/also reverses refernce directions in which position relative movement is applied */ 
}

#apply_text{
  left: -1rem; /*reversed row mdofies/also reverses refernce directions in which position relative movement is applied */ 
}

#apply_img{
  transform:rotateY(180deg); 
}

/* pg4 */
#pg4{
  background-color: black;
  justify-content: center;
}

#pg4 *{
  position: relative;
  top: 2.5rem;
}

#develop_img_row{
 column-gap: 5rem;
 /*
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: auto; 
 /**/
 padding-inline: 5rem;
 text-align:center;
 align-items:center;
 justify-content: center;
 position: relative;


}
#develop_img_row img{
  height: 7rem;
}

#develop_text{
font-size:.75rem;
line-height:1.5rem;
padding-inline: 5rem;
}

/* test_out page */ 
 #test_out{
  background-color: white; 
  height: var(--section-height); 
  text-align:center;
  align-items: center;
  justify-content: center;
   
 }

 #try_out_button{
  background-color: black; 
  color: white;
  border: none;
  outline: none; 
  border-radius: 1rem;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  position: relative;
  top: 3rem;
  cursor: url("./media/imgs/boxing_glove.png"),pointer;
 }
 

 #img_row{
  column-gap: 10rem;
  width: 100%; 
  background-color: none;
  margin-top: 4rem;
  transition-duration: 1s;
  
 }

 #img_row img{
  height: 17rem;
 }


 /* footer */
 #footer{
  background-color: black; 
 display: flex;
 flex-direction: column;
 text-align: center;
 justify-content: center;
 align-items: center;
 color: white;
 padding-block: 2rem;
 
 }
#footer ul{
  list-style-type: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  row-gap: .5rem;
}
#footer h1{
  font-size: 1rem;
}
#footer li{
  font-size: .75rem;
  display: flex;
  flex-direction: row;
   text-align: center;
 justify-content: center;
 align-items: center;
}

#footer .row{
 justify-content: space-evenly;
 column-gap: 10rem;
  
}
 #footer .column{
  text-decoration: underline solid rgba(255, 255, 255, 0.65);

 }

 #footer #stay_updated #ul li{ 
 
  justify-content: right;
 
 }

 #footer #discover_more_abt_us #ul li{ 
 
  justify-content: left;
 
 }

 #footer #copyright_sent{
  margin-top: 2.5rem;
 }